.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f3f3;
}

.recipe-container {
    flex: 1;
    overflow-y: auto;
    margin-top: 100px;
    margin-left: 60px;
}

.recipe-container.hidden {
    opacity: 0;
}

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #40667a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 2;
}


.search-bar {
    width: 200px;
    padding: 5px;
    border: none;
    background-color: #7eb1af;
    color: #fff;
    border-radius: 5px;
    margin-left: auto;
}

.app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #40667a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1;
}
