.card {
    border: 5px solid #40667a;
    border-radius: 10px;
    width: 30%;
    height: auto;
    margin: 1rem;
    text-align: center;
    background-color: #40667a;
    color: #e6d8b3;
    transition: box-shadow 0.3s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.card:hover {
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #60849a;
    border: 2px solid #40667a;
    border-radius: 10px;
    color: #e6d8b3;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img {
    border-radius: 10px;
    width: 100%;
}

.text {
    text-align: left;
    color: #e6d8b3;
    width: 97%;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 5px;
}

.small-view {
    height: 23rem;
    width: 30%;
    border: 5px solid #40667a;
    border-radius: 10px;
    background-color: #40667a;
    color: #e6d8b3;
    text-align: center;
    transition: transform 0.3s;
    display: inline-block;
}

.small-view:hover {
    transform: scale(1.05);
}

table {
    margin: 1rem;
    width: 96%;
    height: 100px;
    border-collapse: collapse;
    border: #60849a 5px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #e6d8b3;
    color: #282c34;
}

thead {
    background-color: #60849a;
    color: #e6d8b3;
}

th, td {
    border: 2px solid #60849a;
    padding: 8px;
    text-align: left;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #7eb1af;
}


@media screen and (max-width: 768px) {
    .card {
        width: 90%; /* Adjust width for smaller screens */
        margin: 1rem auto; /* Center-align and add top and bottom margin */
    }
    .card:first-child {
        margin-top: 4rem; /* Add a different top margin for the first card */
    }
}

